.multicam-bg {
    background-color: #b7ad84; /* резервный цвет */
    background-image: url('../images/vector-topographic.avif');
    background-repeat: repeat; /* повторять плитку */
    background-size: auto; /* или задайте конкретный размер, например: 200px 200px */
}

.btn-tactical {
    transition: all 0.2s ease;
}

.btn-tactical:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bg-opacity-90 {
    opacity: 0.9;
}
